<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
<body>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
<div class="flex justify-center items-center h-screen bg-rose-600">
  <form class="flex flex-col gap-8 rounded-md" action="/login"method="post">
    <h2 class="text-2xl font-semibold text-center text-rose-100">Login to your account</h2>
     
   
     <input class="border-2 text-white rounded-md text-center" type="text"placeholder='Email'name="email">
    <input class="border-2 text-white rounded-md text-center" type="password"placeholder='Password'name="password">
    
    <input  class="bg-rose-900 text-white py-2 rounded-md hover:bg-rose-400 text-center transition" type="submit" value="Login">
   
  </form>
  </form>
</div>
    
</body>
</html>
    
</body>
</html>